<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.tree.mapper.SubjectMapper">

    <!-- 结果映射：Java 实体字段 与 数据库列 的映射 -->
    <resultMap id="BaseResultMap" type="org.example.tree.entity.SubjectEntity">
        <id property="id" column="ID"/>
        <result property="createTime" column="CREATE_TIME" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="updateTime" column="UPDATE_TIME" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="title" column="TITLE"/>
        <result property="userId" column="USER_ID"/>
        <result property="folderId" column="FOLDER_ID"/>
    </resultMap>

    <!-- 可复用的列名 SQL 片段 -->
    <sql id="Base_Column_List">
        ID,
        CREATE_TIME,
        UPDATE_TIME,
        TITLE,
        USER_ID,
        FOLDER_ID
    </sql>

    <!-- 根据主键查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM SUBJECT
        WHERE ID = #{id}
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM SUBJECT
    </select>


    <!-- 插入记录 -->
    <insert id="insert" parameterType="org.example.tree.entity.SubjectEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SUBJECT (<include refid="Base_Column_List"/>)
        VALUES (#{id},#{createTime}, #{updateTime},#{title},#{userId},#{folderId})
    </insert>

    <!-- 删除记录 -->
    <delete id="deleteById" parameterType="long">
        DELETE
        FROM SUBJECT
        WHERE ID = #{id}
    </delete>

<!--    &lt;!&ndash; 批量删除（通过 ID 列表） &ndash;&gt;-->
<!--    <delete id="deleteByIds" parameterType="list">-->
<!--        DELETE FROM {Table_Name}-->
<!--        WHERE ID IN-->
<!--        <foreach item="id" collection="list" open="(" separator="," close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </delete>-->

</mapper>